body{
    /* background-image: url(../assets/background.jpg);
    background-size: cover;
    background-repeat: no-repeat; */
    margin: 0;
    padding: 0;
    font-family: 'Mona Sans ExtraLight';
}

.title-sticky{
  position: sticky;
  top: 0;
  z-index: 2000;
}

.container-page{
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  align-items: center;
  width: 100%;
}

.img-right{
    transform: rotate(5deg);
}

.img-left{
    transform: rotate(-4deg);
}

.img-left:hover, .img-right:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.font-paragraph {
  font-size: 4rem;
  text-align: center !important;
  font-family: 'Mona Sans ExtraLight';
  color: white;

}

#map{
  height: 1000px;
  width: 100%;

}

.verified{
  font-size: 10rem !important;
  color: blueviolet;
}

.font-title {
  width: 100%;
  font-size: 4rem;
  font-family: 'Gadey' !important;
  text-align: center !important;

}

.container-description{
    background-color: black;
    width: 70%;
    margin: 0;
}

.container-frame-title{
    display: flex;
    justify-content: end;
    align-items: center;
}

.container-frame-paragraph{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center !important;
}

.margin-left{
  margin-left: -3rem;
}


@media (max-width: 768px) {

  body{
    background-attachment: fixed !important;
  }

  .title-home{
    font-size: 2rem !important;
  }

  .font-paragraph {
    font-size: 100% !important;
  }

  .title1-meaning{
    font-size: 1rem !important;
  }

  .title2-meaning{
    font-size: 1.5rem !important;
  }


  .title2-meaning-color{
      font-size: 1.5rem !important; 
      margin-top: -0.6rem !important;
  }

  .title-meaning-start{
      font-size: 2rem !important;
      margin-top: -0.6rem !important;
  }

  .description-meaning{
    font-size: 0.6rem !important; 
  }

  .font-title {
    font-size: 100% !important;
  }

  .title-container h1{
    font-size: 3rem !important;
  }

  .p-button{
    font-size: 1.7rem !important;
    padding: 0.5rem !important; 
    border-radius: 0.5rem;
  }

  .container-parish-ru{
    padding: 0.8rem !important;
    margin: 0rem !important;
  }

  .container-img{
    padding: 0rem !important;
    margin-bottom: 0rem !important;
  }

  .container-grid{
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)) !important;

  }
  
  .container-img-puzzle{
    margin-top: -5rem !important;
  }

  #map{
    height: 500px;
  }

  .verified{
    font-size: 5rem !important;
  }

  .text-container-bottom-small{
    font-size: 1rem !important;
    bottom: 10rem !important;
    right: -0.5rem !important;
  }

  .text-container-bottom-tall{
    font-size: 1rem !important;
    bottom: 2.3rem !important;
  }

  .text-container-top-small{
    font-size: 1rem !important;
    bottom: 2.5rem !important;
    right: -0.5rem;
  }

  .text-container-top-tall{
    font-size: 1rem !important;
    bottom: 2rem !important;
  }

  .text-margin-left{
    margin-left: 12px !important;
  }

  .text-margin-right{
    margin-right: 12px !important;
  }

  .text-container-bottom-left-tall{
    bottom: 1rem !important;
    left: 1rem !important;
    font-size: 0.8rem !important;

  }

  .text-container-bottom-left-small{
    bottom: 9rem !important;
    left: 1rem !important;
    font-size: 0.7rem !important;
  }

  .text-container-top-left-tall{
    bottom: 1rem !important;
    left: 1rem !important;
    font-size: 0.7rem !important;

  }

  .text-container-top-left-small{
    bottom: 1rem !important;
    left: 1rem !important;
    font-size: 0.8rem !important;
  }

  .img-frame{
    border-radius: 1rem !important;
  }

  .button-container-bottom-left-tall{
    bottom: 1.5rem !important;
    left: 1.5rem !important;
  }

  .button-container-bottom-left-small{
    bottom: 9.5rem !important;
    left: 1.5rem !important;
  }  

  .button-container-top-left-small{
    bottom: 1.5rem !important;
    left: 1.5rem !important;
  }  

  .marker-container-buttom-right{
    bottom: 0.8rem !important;
    right: 0.5rem !important;
  }

  .marker-container-buttom-left{
    bottom: 0.8rem !important;
    left: 0.5rem !important;

  }

  .frame-container{
    margin-top: -1rem;
  }

  .center-ripple span {
    margin-top: -2.2rem;
    border: 1px solid rgba(80, 60, 150, 0.25) !important;
  }

  .font-button{
    font-size: 1rem !important;
  }

  .title-container-button{
    margin-bottom: 2rem !important;
  }

  .container-meaning-img{
    margin-top: 2rem !important; 
    margin-bottom: 1rem !important;
  }

  .video-bg {
    width: 100%;
    height: 100%;
    object-fit: fill !important; /* cambia de cover → contain */
  }

  .font-button-welcome{
      font-size:1.5rem !important;
      bottom: -10% !important;
  }
}

/* Animaciones */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-frame {
  animation: slideInLeft 1.5s ease;
}

.animate-text {
  animation: slideInRight 1.5s ease;
}

/* Para invertir animación cuando es reverse */
.reverse .animate-frame {
  animation: slideInRight 1.5s ease;
}

.reverse .animate-text {
  animation: slideInLeft 1.5s ease;
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (min-width: 1080px) {
  .p-button-icon {
    font-size: 4rem !important; /* tamaño del ícono */
  }
}

@font-face {
  font-family: 'Gadey';
  src: url(/src/fonts/gadey-regular.otf);
}

@font-face {
  font-family: 'Mona Sans ExtraLight';
  src: url(/src/fonts/MonaSans-Italic-VariableFont_wdth,wght.ttf);
}

@font-face {
  font-family: 'Mona Sans ExtraLight';
  src: url(/src/fonts/MonaSans-VariableFont_wdth,wght.ttf);
}